.main-section {
  width: 100vw;
  height: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-section__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.event__item {
  width: 20%;
  padding: 40px 15px 50px 25px;
  border: 1px solid #fff;
  border-radius: 30px;
  color: #fff;
  margin-top: 25px;
  margin-right: 25px;
}
.event__item:last-child {
  margin-right: 0;
}

.event__item-name {
  font-size: 1rem;
  margin-bottom: 5px;
}

.border {
  height: 1px;
  width: 60px;
  background: #fff;
  margin-bottom: 15px;
}

.event__item-amount-members {
  font-weight: 300;
  font-size: 1rem;
}

.event__item-date-of-event {
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 85px;
}

.event__item-link {
  color: #fff;
  opacity: 0.8;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.event__item-link:hover {
  text-decoration: none;
  color: #fff;
  opacity: 1;
}