.main-section {
  width: 100vw;
  height: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.form {
  width: 40%;
  height: 750px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px;
  background: rgba(255, 255, 255, 0.9);
}

.main-section__title {
  margin-bottom: 75px;
}

.input {
  padding: 15px;
  border: none;
  border-radius: 10px;
}

.submit-button {
  border: none;
  padding: 15px;
  color: #fff;
  background: rgb(0, 0, 0);
  border-radius: 15px;
  text-align: center;
  opacity: 0.8;
  margin-bottom: 35px;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.submit-button:hover {
  text-decoration: none;
  color: #fff;
  opacity: 1;
}