.main-section {
  width: 100vw;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #131313 url("/public/img/background.jpg") center/cover no-repeat;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.main-section__inner {
  width: 30%;
  height: 100%;
}

.main-section__title {
  color: #fff;
  margin-bottom: 15px;
}

.main-section__description {
  color: #fff;
  margin-bottom: 35px;
}

.main-section__button {
  display: inline-block;
  padding: 10px 50px;
  color: #000;
  background: #ffffff;
  opacity: 0.8;
  border-radius: 10px;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  margin-bottom: 15px;
}
.main-section__button:last-child {
  margin-bottom: 0;
}
.main-section__button:hover {
  opacity: 1;
  color: #000;
  text-decoration: none;
}

@media (max-width: 1600.98px) {
  .main-section__inner {
    width: 40%;
  }
}