<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Создай мероприятие</title>
</head>
<body>
    
    <h1>Создай мероприятие</h1>

    <form action="/secured/create-event" method="post">
        
        <input type="text" name="name" placeholder="Название мероприятия"> <br> <br>
        <input type="text" name="description" placeholder="Описание мероприятия"> <br> <br>
        <input type="date" name="date_of_event"> <br> <br>

        <input type="submit" value="Создать">

    </form>

</body>
</html>