<!DOCTYPE html>
<html lang="ru">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/bootstrap/bootstrap-reboot.min.css">

    <link rel="stylesheet" href="../static/main-page/style.css">
    <link rel="stylesheet" href="../static/main-page/main-section/main-section.css">
    <link rel="stylesheet" href="../static/main-page/header/header.css">
    <link rel="stylesheet" href="../static/main-page/footer/footer.css">

    <link type="Image/x-icon" href="../static/main-page/icons/favicon.png" rel="icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

    <title>EasyEvent — создай своё мероприятие</title>

</head>

<body>
<div class="wrapper">

    <header class="header">
        <div class="container">
            <div class="header__inner">

                <a href="#" class="header__logo">EasyEvent</a>

                <nav class="header__nav">
                    <a href="#" class="nav__link">Мои мероприятия</a>
                    <a href="#" class="nav__link">Войти</a>
                </nav>

            </div>
        </div>
    </header>

    <div class="main-section" style="background-image: url(../static/main-page/img/background.jpg);">
        <div class="container">
            <div class="main-section__inner">

                <h1 class="main-section__title">Создай своё мероприятие</h1>
                <p class="main-section__description">
                    Более сотни компаний выбрали нас в качестве
                    менеджера своих мероприятий. <br><br>Выбирай и ты.
                </p>
                <a href="#" class="main-section__button">Организовать мероприятие</a>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer__inner">
                <h1 class="footer__title">EasyEvent — создай своё мероприятие.</h1>
            </div>
        </div>
    </footer>

</div>
</body>
</html>