<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/auth/bootstrap/bootstrap-reboot.min.css">

    <link rel="stylesheet" href="/auth/view-event/css/style.css">
    <link rel="stylesheet" href="/auth/view-event/css/main-section/main-section.css">
    <link rel="stylesheet" href="/auth/view-event/css/header/header.css">
    <link rel="stylesheet" href="/auth/view-event/css/footer/footer.css">

    <link type="Image/x-icon" href="/auth/view-event/icons/favicon.png" rel="icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

    <title>EasyEvent — создай своё мероприятие</title>

</head>

<body>
<div class="wrapper">

    <header class="header">
        <div class="container">
            <div class="header__inner">

                <a href="#" class="header__logo">EasyEvent</a>

                <nav class="header__nav">
                    <a href="#" class="nav__link">Мои мероприятия</a>
                </nav>

            </div>
        </div>
    </header>

    <div class="main-section" style="background-image: url(/auth/view-event/img/background.jpg);">
        <div class="container">
            <div class="main-section__inner">

                <div class="form" >

                    <h1 class="main-section__title">Мероприятие {{name}}</h1>

                    <input class="input" type="text" name="name" value="{{name}}" readonly> <br> <br>
                    <input class="input" type="text" name="description" value="{{description}}" readonly> <br> <br>
                    <input class="input" type="date" value="2004-08-24" name="date_of_event" readonly> <br> <br>

                    <a href="/" class="submit-button">Удалить</a>
                    <a href="/" class="submit-button">Редактировать</a>

                </div>

            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer__inner">
                <h1 class="footer__title">EasyEvent — создай своё мероприятие.</h1>
            </div>
        </div>
    </footer>

</div>
</body>
</html>